{% load static %}

    <div class="container my-5">
        <h2 class="text-center p-4">محصولات تخفیف دار</h2>
        <div class="row">

            {% for product in products %}
                {% include 'base/single_product.html' %}
            {% endfor %}            

        </div>

        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'shop:discount_list' %}" class="btn btn-warning">مشاهده همه تخفیف ها</a>
        </div>
    </div>
    <hr/>

    {% block custom_js %}
    {% endblock %}