{% load static %}
    <footer class="mt-50 pt-4 container-fluid">
        <div class="row  px-5">
            <div class="col-md-4 border-left">
                <a href="#" class="d-block my-1">item1</a>
                <a href="#" class="d-block my-1">item2</a>
                <a href="#" class="d-block my-1">item3</a>
                <a href="#" class="d-block my-1">item4</a>
                <a href="#" class="d-block my-1">item5</a>
            </div>
            <div class="col-md-4 border-left">
                <a href="#" class="d-block my-1">item1</a>
                <a href="#" class="d-block my-1">item2</a>
                <a href="#" class="d-block my-1">item3</a>
                <a href="#" class="d-block my-1">item5</a>
            </div>
            <div class="col-md-4">
                <div class="d-flex justify-content-around">
                    <a href="#">
                        <img src="{% static 'base/images/enamad.jpg' %}" alt="" width="200" class="border">
                    </a>
                    <a href="#">
                        <img src="{% static 'base/images/samandehi.jpg' %}" alt="" width="160" class="border">
                    </a>
                </div>      
            </div>
        </div>
        <div style="height: 5px; width:100%; background-color: var(--c1);"></div>
        <div class="text-center font-weight-bold py-2">© <a href="#" >shop.ir</a> </div>
    </footer>

