
<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-3">
    <!-- card -->
    <div class="card">
        <img class="card-img-top" src="{{ product.thumbnail.url }}" alt="Card image cap" style="max-height: 200px;">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.meta_description }}</p>
        </div>

        <div class="m-2">
            <span>قیمت</span>
            <span>{{ product.price }}</span>
            <span>تومان</span>
        </div>
        <div class="m-2">
            <span>قیمت با تخفیف</span>
            <span>{{ product.get_price_apply_discount }}</span>
            <span>تومان</span>
        </div>
        <div class="m-2">
          {% for ca in product.category.all %}
            <span class="badge badge-warning">
              <a href="{% url 'shop:category_detail' ca.id %}">
                {{ca}}
              </a>
            </span>
          {% endfor %}
      </div>

        <div class="card-footer d-flex justify-content-around">
            <a href="{% url 'shop:product_detail' product.id %}" class="btn btn-primary">مشاهده</a>
            <a href="" class="btn btn-success">افزودن به سبد</a>
        </div>
    </div>
</div>