{% extends 'base/base.html' %}

{% block content %}
{% include 'base/profile_panel.html' %}
<div class="w-100">

    <div class="mt-10 container border-2 rounded border-orange-500">
        <div class="flex justify-content-around align-items-center p-3">
            <h2 class="border-b-4 border-b-slate-600 pb-2">آدرس ها</h2>
            <a href="#" class="btn btn-warning mb-2">ثبت آدرس جدید</a>
        </div>

        <div class="mt-5 p-3 d-flex justify-content-around">
            <ul>
                <li class="d-flex justify-content-start py-1">
                    <ion-icon name="battery-half-outline" class="self-center ml-2"></ion-icon>
                    <span>گیلان</span>
                </li>
                <li class="d-flex justify-content-start py-1">
                    <ion-icon name="battery-half-outline" class="self-center ml-2"></ion-icon>
                    <span>رشت</span>
                </li>
                <li class="d-flex justify-content-start py-1">
                    <ion-icon name="battery-half-outline" class="self-center ml-2"></ion-icon>
                    <span>4481712443</span>
                </li>
                <li class="d-flex justify-content-start py-1">
                    <ion-icon name="battery-half-outline" class="self-center ml-2"></ion-icon>
                    <span>09112345678</span>
                </li>
            </ul>
            <div>
                <a href="#" class="btn btn-link">ویرایش آدرس</a>
            </div>
        </div>
        <hr>
        
        <div class="mt-5 p-3 d-flex justify-content-around">
            <ul>
                <li class="d-flex justify-content-start py-1">
                    <ion-icon name="battery-half-outline" class="self-center ml-2"></ion-icon>
                    <span>گیلان</span>
                </li>
                <li class="d-flex justify-content-start py-1">
                    <ion-icon name="battery-half-outline" class="self-center ml-2"></ion-icon>
                    <span>رشت</span>
                </li>
                <li class="d-flex justify-content-start py-1">
                    <ion-icon name="battery-half-outline" class="self-center ml-2"></ion-icon>
                    <span>4481712443</span>
                </li>
                <li class="d-flex justify-content-start py-1">
                    <ion-icon name="battery-half-outline" class="self-center ml-2"></ion-icon>
                    <span>09112345678</span>
                </li>
            </ul>
            <div>
                <a href="#" class="btn btn-link">ویرایش آدرس</a>
            </div>
        </div>
        <hr>

    </div>
</div>
</section>
{% endblock content %}