{% extends 'base/base.html' %}
{% load static %}


{% block custom_css %}
    <link href="{% static 'core/css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="login-wrapper my-5">
    <form action="{% url 'core_api:login' %}" class="form mt-5" id="login-form" method="POST">
      {% csrf_token %}
      <img src="../image/login/avatar.png" alt="">
      <h2 class="text-success">فرم ورود</h2>
      <div class="input-group">
        <input type="email" name="email" id="loginEmail" class="ltr" required>
        <label for="loginEmail">ایمیل</label>
      </div>
      <div class="input-group">
        <input type="password" name="password" id="loginPassword" class="ltr" required>
        <label for="loginPassword">گذرواژه</label>
      </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="auth_type" id="sms-auth" value="sms" checked>
          <label class="form-check-label mr-4" for="sms-auth">
            احراز هویت با پیامک
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="auth_type" id="email-auth" value="email">
          <label class="form-check-label mr-4" for="email-auth">
            احراز هویت با ایمیل
          </label>
        </div>


        <div class="my-3 text-danger" id="error-area"></div>
      <input type="submit" value="ورود" class="btn btn-success w-100">
      <div class="mt-4 d-flex justify-content-around">
        <span>حساب کاربری ندارید؟ </span>
        <a href="{% url 'core_api:register' %}" class="text-warning">ثبت نام کنید</a><br>
      </div>
    </form>

  </div>
    <div class="login-wrapper">
    <form action="{% url 'core_api:login_verify' %}" method="POST" id="otp-form" class="d-none form mt-5">
          {% csrf_token %}
          <h4 class="text-success text-center" id="otp-header"></h4>
          <div class="input-group mt-5">
            <input type="text" name="opt_code" id="otp-code" class="ltr" required>
            <label for="loginEmail">کد یکبار مصرف</label>
          </div>
          <div class="my-3 text-danger" id="otp-error-area"></div>
            <!-- reverse timer -->
            <div id="reverse-timer" class="ltr">
            <div class="timer d-flex justify-content-start">

               <div class="single-timer">
                <div>
                 <h4 class="minutes">0</h4>
                 <span>دقیقه</span>
                </div>
               </div>
:
               <div class="single-timer">
                <div>
                 <h4 class="seconds">0</h4>
                 <span>ثانیه</span>
                </div>
               </div>

              </div>

            </div>
          <input type="submit" value="ثبت" class="btn btn-success w-100 mb-5">
      </form>
    </div>
{% endblock %}

{% block custom_js %}
<script>
var today;
var futureTime;

  $('#login-form').submit(function(event){
    event.preventDefault();
    let formData = new FormData();
    formData.append('email', $('#loginEmail').val().trim());
    formData.append('password', $('#loginPassword').val().trim());
    formData.append('auth_type', $('input[name="auth_type"]:checked').val().trim())
    let otpForm = $('#otp-form')

    $.ajax({
      url: $('#login-form').attr('action'),
      type: "POST",
      data: formData,
      dataType: 'json',
      cache: false,
      processData: false,
      contentType: false,
      success: function(data) {
          $('#login-form').addClass('d-none')
          otpForm.removeClass('d-none')
          console.log(data)
          {#let msg = JSON.parse(data)#}
          $('#otp-header').text(data.detail)
          today = new Date();
          futureTime = today.setMinutes(today.getMinutes() + 2);
      },  //end success
      error: function (rs, e) {
          if (rs.status === 401) {
              let data = JSON.parse(rs.responseText)
              $('#error-area').text(data.detail)
          }
      }
    }) //end ajax
  }) //end submit


  $('#otp-form').submit(function (event){
      event.preventDefault();
      let otpFormData = new FormData;
      otpFormData.append('otp_code', $('#otp-code').val().trim());

      $.ajax({
          url: this.action,
          method: "POST",
          data: otpFormData,
          dataType: 'json',
          cache: false,
          contentType: false,
          processData: false,
          success: function (data){
              window.location.href = '/profile/'
          },
          error: function (rs, e) {
              let err = JSON.parse(rs.responseText)
              $('#otp-error-area').text(err.detail)
          }
      }) // end ajax
  })

  // reverse timer
  const timer = document.querySelectorAll('.single-timer h4');
  //let today = new Date();
  //const futureTime = today.setMinutes(today.getMinutes() + 2);
  const expire = document.querySelector('.timer')

function format(x) {
 if (x < 10) {
  return (x = `0${x}`)
 } else {
  return x
 }
}
function setTimer() {
 const today = new Date().getTime()
 let t = futureTime - today;

 let oneDay = 24 * 60 * 60 * 1000;
 let oneHour = 60 * 60 * 1000;
 let oneMin = 60 * 1000;

 let minuets = Math.floor((t % oneHour) / oneMin) ;
 let seconds = Math.floor((t % oneMin) / 1000);

 const value = [minuets, seconds]
 timer.forEach(function(item, idx) {
  item.innerHTML = format(value[idx])
 })

 if (t <= 1000) {
  expire.innerHTML = `<p class="expire text-danger">این لینک منقضی شده،‌دوباره وارد شوید</p>`
  clearInterval(countDown);
 }
}

let countDown = setInterval(setTimer, 1000);
setTimer()

</script>
{% endblock custom_js %}