{% comment %} {% extends 'base/base.html' %} {% endcomment %}
{% load static %}

{% comment %} <link href="{% static 'core/css/order_list.css' %}" rel="stylesheet"> {% endcomment %}

<section class="section">
    <div class="title">
     <h2 class="p-3">تاریخچه سفارش</h2>
     
    </div>
  
    <div class="about-center section-center">
     <article class="about">
      <!-- btn container -->
      <div class="btn-container">
       <button class="tab-btn active" data-id="history">سفارش جاری</button>
       <button class="tab-btn" data-id="vision">تحویل شده</button>
       <button class="tab-btn" data-id="goals">لغو شده</button>
      </div>
      <div class="about-content">
       <!-- single item -->
       <div class="content active" id="history">
        <h4 class="p-2 mb-3">جاری</h4>
        
        <div class="mb-2 mt-5">
            <span>
                <span class="text-muted">تاریخ</span>
                <span>1402/03/20</span>
            </span>
                    
            <span class="mx-2">
                <span class="text-muted">مبلغ</span>
                <span>180000</span>
            </span>
            
            <span class="mx-2">
                <span class="text-muted">کد سفارش</span>
                <span>123456</span>
            </span>
    
            <span class="mx-2">
                <span class="text-muted">تخفیف</span>
                <span>15000</span>
            </span>    
        </div>
        
        <hr>

        <div class="row my-3">
            <div class="col-6 col-md-3 col-lg-2 my-1 d-flex justify-content-center">
                <a href="#">
                    <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128" class="rounded">
                </a>                
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
        </div>
        <div class="text-left">
            <a href="#" class="btn btn-link"> مشاهده فاکتور</a>
        </div>

        <div class="mb-2 mt-5">
            <span>
                <span class="text-muted">تاریخ</span>
                <span>1402/03/20</span>
            </span>
                    
            <span class="mx-2">
                <span class="text-muted">مبلغ</span>
                <span>180000</span>
            </span>
            
            <span class="mx-2">
                <span class="text-muted">کد سفارش</span>
                <span>123456</span>
            </span>
    
            <span class="mx-2">
                <span class="text-muted">تخفیف</span>
                <span>15000</span>
            </span>    
        </div>
        
        <hr>

        <div class="row my-3">
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>            
        </div>

        <div class="mb-2 mt-5">
            <span>
                <span class="text-muted">تاریخ</span>
                <span>1402/03/20</span>
            </span>
                    
            <span class="mx-2">
                <span class="text-muted">مبلغ</span>
                <span>180000</span>
            </span>
            
            <span class="mx-2">
                <span class="text-muted">کد سفارش</span>
                <span>123456</span>
            </span>
    
            <span class="mx-2">
                <span class="text-muted">تخفیف</span>
                <span>15000</span>
            </span>    
        </div>
        
        <hr>

        <div class="row my-3">
            <div class="col-6 col-md-3 col-lg-2 my-1 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128" class="rounded">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>            
        </div>


       </div>
       <!-- end of single item -->
       <!-- single item -->
       <div class="content" id="vision">
        <h4 class="p-2 mb-3">تحویل شده</h4>
        
        <div class="mb-2 mt-5">
            <span>
                <span class="text-muted">تاریخ</span>
                <span>1402/03/20</span>
            </span>
                    
            <span class="mx-2">
                <span class="text-muted">مبلغ</span>
                <span>180000</span>
            </span>
            
            <span class="mx-2">
                <span class="text-muted">کد سفارش</span>
                <span>123456</span>
            </span>
    
            <span class="mx-2">
                <span class="text-muted">تخفیف</span>
                <span>15000</span>
            </span>    
        </div>
        
        <hr>

        <div class="row my-3">
            <div class="col-6 col-md-3 col-lg-2 my-1 d-flex justify-content-center">
                <a href="#">
                    <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128" class="rounded">
                </a>                
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
        </div>
        <div class="text-left">
            <a href="#" class="btn btn-link"> مشاهده فاکتور</a>
        </div>
        
       </div>
       <!-- end of single item -->
       <!-- single item -->
       <div class="content" id="goals">
        
        <h4 class="p-2 mb-3">لغو شده</h4>
        
        <div class="mb-2 mt-5">
            <span>
                <span class="text-muted">تاریخ</span>
                <span>1402/03/20</span>
            </span>
                    
            <span class="mx-2">
                <span class="text-muted">مبلغ</span>
                <span>180000</span>
            </span>
            
            <span class="mx-2">
                <span class="text-muted">کد سفارش</span>
                <span>123456</span>
            </span>
    
            <span class="mx-2">
                <span class="text-muted">تخفیف</span>
                <span>15000</span>
            </span>    
        </div>
        
        <hr>

        <div class="row my-3">
            <div class="col-6 col-md-3 col-lg-2 my-1 d-flex justify-content-center">
                <a href="#">
                    <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128" class="rounded">
                </a>                
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
            <div class="col-6 col-md-3 col-lg-2 my-2 d-flex justify-content-center">
                <img src="../../uploads/post/2023-05-16/55cfb9df-a565-4e87-b3bf-3aec6fe3c853.png" alt="" width="128">
            </div>
        </div>

       </div>
       <!-- end of single item -->
      </div>
     </article>
    </div>
   </section>

   <script src="{% static 'core/js/order_history.js' %}"></script>