{% extends 'base/base.html' %}
{% load static %}

{% block custom_css %}
<link href="{% static 'core/css/profile.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}

    {% include 'base/profile_panel.html' %}
    <div class="w-100 container-fluid">
        <div class="container my-5">
            <div class="row">
                
                <div class="col-12 border-2 border-orange-500 p-2 my-3 rounded">
                    <!-- card -->
                    
                    {% include 'core/order_history.html' %}

                </div>                

                <div class="col-12 border-2 border-orange-500 p-2 my-3 rounded">
                    <!-- card -->
                    {{ user.is_authenticated }}
                    {{ user.jlast_login }}
                </div>

            </div>            
        </div>
    </div>
</section>

{% endblock %}

{% block custom_js %} 
<script src="{% static 'core/js/profile.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}