{% extends 'base/base.html' %}
{% load static %}


{% block custom_css %}
    <link href="{% static 'core/css/register.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="login-wrapper my-5">
    <form action="{% url 'core_api:register' %}" class="form mt-5 was-validated" id="register-form" method="POST">
        {% csrf_token %}
      <img src="../image/login/avatar.png" alt="">
      <h2 class="text-warning">فرم ثبت نام</h2>
      <div class="input-group">
        <input type="text" name="first_name" id="firstname" required class="text-right">
        <label for="firstname">نام</label>
      </div>
      <div class="input-group">
        <input type="text" name="last_name" id="lastname" required class="text-right">
        <label for="lastname">نام خانوادگی</label>
      </div>
      <div class="input-group">
        <input type="text" name="phone" id="phone" required>
        <label for="loginUser">شماره تلفن</label>
      </div>
      <div class="input-group">
        <input type="password" name="password" id="password" required>
        <label for="loginPassword">گذرواژه</label>
      </div>
      <div class="input-group">
        <input type="email" name="email" id="email" required>
        <label for="registerEmail">ایمیل</label>
          <div class="invalid-feedback" id="email-invalid"></div>
      </div>
      <div class="text-danger my-3" id="error-area"></div>
      <div class="text-center mt-2">
        <input type="submit" value="ثبت نام" class="btn btn-warning w-100">
      </div>
      
      <div class="d-flex justify-content-around mt-4">
        <span>قبلا ثبت نام کرده اید</span>
        <a href="{% url 'core_api:login' %}" class="text-success">وارد شوید</a><br>
      </div>
    </form>
    
  </div>
{% endblock %}

{% block custom_js %}
    <script>
    $('#register-form').submit(function (event){
        event.preventDefault();
        let formData = new FormData();
        formData.append('first_name', $('#firstname').val().trim());
        formData.append('last_name', $('#lastname').val().trim());
        formData.append('phone', $('#phone').val().trim());
        formData.append('email', $('#email').val().trim());
        formData.append('password', $('#password').val().trim());

        $.ajax({
            url: $('#register-form').attr('action'),
            type: "POST",
            data: formData,
            dataType: 'json',
            cache: false,
            processData: false,
            contentType: false,
            success: function(data) {
                window.location.replace('/profile');
            },  //end success
            error: function (rs, e) {
                let data = JSON.parse(rs.responseText)
                let errorArea = $('#error-area')
                errorArea.text('')
                for (let item in data) {
                    console.log(item)
                    errorArea.append(data[item],"<br>")
                }
                if (rs.status === 400) {
                    let data = JSON.parse(rs.responseText)
                    {#$('#error-area').text(data.detail)#}
                }
            }
        }) //end ajax

    })
    </script>
{% endblock %}