{% extends 'base/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container-fluid mt-10">
    <div class="row">
    <div class="col-12 col-md-3 col-lg-2 ">
        <div class="mt-10 position-relative">
            
            <ul class="list-group">
                <li class="py-2 list-group-item list-group-item-action">
                    <a href="#" class="">آیتم فیلتر</a>
                </li>
                <li class="py-2 list-group-item list-group-item-action">
                    <a href="#" class="">آیتم فیلتر</a>
                </li>
                <li class="py-2 list-group-item list-group-item-action">
                    <a href="#" class="">آیتم فیلتر</a>
                </li>
            </ul>
        
        </div>
    </div>
    <div class="col-12 col-md-9 col-lg-10">
        <div class="container-fluid my-5">
            <h2 class="text-center p-4">
                لیست محصولات
                <span class="badge badge-warning">{{ category }}</span>
            </h2>
            <div class="row">
                <!-- product -->
                {% for product in products %}
                    {% show_single_product product %}
                {% endfor %}
            </div>
                    <!-- pagination -->
            <nav aria-label="Page navigation" class="mt-10">
                <ul class="pagination pagination-lg justify-content-center ltr">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">اولی</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item  active"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">آخری</a>
                  </li>
                </ul>
              </nav>
</div>
</div>


{% endblock content %}