{% extends 'base/base.html' %}


{% block content %}

     <div class="container my-5">
        <h2 class="text-center p-4">آخرین محصولات</h2>
        <div class="row">
            {% for last_product in last_products %}
                {% include 'base/single_product.html' with product=last_product %}
            {% endfor %}
        </div>

        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'shop:product_list' %}" class="btn btn-warning">مشاهده محصولات بیشتر</a>
        </div>
    </div>
    <hr/>


{% include "base/magic_sale.html" with magicsale=magicsale %}

{% include "base/discount.html" %}

    <div class="container my-5">
        <h2 class="text-center p-4">دسته های اصلی</h2>
        <div class="row">
            {% for category in categories %}
                <div class="col-6 col-md-4 col-lg-3">
                    <!-- category -->
                    <div class="d-flex justify-content-center align-items-center m-2">
                        <a href="{% url 'shop:category_detail' category.id %}" class="text-center py-4 px-3 border border-rounded category-text">
                            {{ category }}
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'shop:category_list' %}" class="btn btn-warning">مشاهده همه دسته ها </a>
        </div>
    </div>
    <hr/>

{% endblock %}