{% extends 'base/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="container-fluid mt-10">
    <div class="row">
        <div class="col-12 col-md-3 col-lg-2 bg-warning">
            filter
        </div>
        <div class="col-12 col-md-9 col-lg-10">
            <div class="container-fluid my-5">
                <h2 class="text-center p-4">لیست محصولات</h2>
                <div class="row infinite-container">
                    <!-- product -->
                    {% for product in products %}
                      {% show_single_product product %}
                    {% endfor %}
                </div>

                <!-- pagination -->
                {% if page_obj.has_next %}
                      <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                {% endif %}
                {% if page_obj.end_index != 0 %}
                    <div class="d-flex justify-content-center" style="display: none">
                          <div class="spinner-border loading" role="status" aria-hidden="true"></div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}
    
{% block custom_js %}
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
        offset: 'bottom-in-view',
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
{% endblock %}