{% extends 'base/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container-fluid mt-10">
    <div class="row">
        <div class="col-md-4">
            {% show_image_gallery product.thumbnail images %}
        </div>
        <div class="col-md-5 px-xl-3">
            {% show_product_basic_info product %}
        </div>
        <div class="col-md-3 mt-xl-5">
            {% show_product_action request product %}
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-9">
                {% show_product_full_info product %}
        </div>
        <div class="col-md-3 vh-100">
            <div style="position: sticky; position: -webkit-sticky; left:0; top:100px;">
{#                {% show_product_action request product %}#}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row row-cols-1">
            <div class="col">
                <h3 class="my-4">نظر کاربران</h3>
            </div>
            <div class="col">
                <div class="container my-4">
                    <form>
                    {% if request.user.is_authenticated %}
                        <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="{{ request.user.email }}" aria-describedby="emailHelp" disabled>
                      </div>
                        {% else %}
                        <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    {% endif %}
                  <div class="form-group">
                    <label for="exampleInputPassword1">نظر شما</label>
                      <textarea class="form-control" rows="10"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">ارسال نظر</button>
                </form>
                </div>
                {% show_product_comments comments %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js %}

<script>



    </script>

{% endblock %}