{% extends 'base/base.html' %}
{% load custom_tags %}

{% block content %}
<div class="container-fluid mt-10">
    <div class="row">
        <div class="col-md-4">
            {% show_image_gallery product.thumbnail images %}
        </div>
        <div class="col-md-5 px-xl-3">
            {% show_product_basic_info product %}
        </div>
        <div class="col-md-3 mt-xl-5">
            {% show_product_action request product %}
        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-md-9">
                {% show_product_full_info product %}
        </div>
        <div class="col-md-3 vh-100">
            <div style="position: sticky; position: -webkit-sticky; left:0; top:100px;">
{#                {% show_product_action request product %}#}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row row-cols-1">
            <div class="col">
                <h3 class="my-4">نظر کاربران</h3>
            </div>
            <div class="col">
                <div class="container my-4">
                {% if request.user.is_authenticated %}
                    <form action="" method="post">
                    {% csrf_token %}
                        <div class="form-group">
                            {% if request.user.full_name %}
                                <label for="name">نام شما:</label>
                                <input type="text" class="form-control" id="name" placeholder="{{ request.user.full_name }}" aria-describedby="emailHelp" disabled>
                            {% else %}
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ request.user.email }}" aria-describedby="emailHelp" disabled>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.rating.errors }}
                            <label for="{{ form.rating.id_for_label }}">{{ form.rating.label }}:</label>
                            {{ form.rating }}
                        </div>
                        <div class="form-group">
                            {{ form.content.errors }}
                            <label for="{{ form.content.id_for_label }}">{{ form.content.label }}:</label>
                            {{ form.content }}
                        </div>

                        <div class="form-group">
                            {{ form.parent_comment }}
                        </div>
                    <button type="submit" class="btn btn-primary">ارسال نظر</button>
                    </form>
                {% else %}
                    <p class="text-center">برای ثبت نظر ابتدا
                    <a href="{% url 'core:login_view' %}"> وارد شوید</a>
                    </p>
                {% endif %}

                </div>
                {% show_product_comments request comments form %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_js %}

<script>

$('.reply-comment-btn').each(function (e){
    var btn = this;
    btn.addEventListener('click', function (e){
        e.preventDefault();
        e.currentTarget.classList.add('d-none')
        console.log(e.currentTarget)
        e.currentTarget.nextElementSibling.classList.remove('d-none')
    })

})

    </script>

{% endblock %}