    {% for comment in comments %}
    {% if comment.parent_comment == None %}
    <div class="border rounded bg-white p-2 my-2">
        <div class="d-flex flex-wrap justify-content-start align-items-center my-2 p-2">
            <img src="{{comment.user.profile_image.url}}" alt="" class="rounded-circle" width="64px" height="64px">
            {% if comment.user.get_fullname %}
            <span class="mr-3">{{ comment.user.get_fullname }}</span>
            {% else %}
            <span class="mr-3">{{ comment.user.email }}</span>
            {% endif %}
            <span class="mr-3">{{comment.jlast_update}}</span>
            <span class="mr-5">امتیاز:</span>
            {% for star in "12345" %}
                {% if star|add:"0" <= comment.rating %}
                <ion-icon name="star"></ion-icon>
                {% else %}
                <ion-icon name="star-outline"></ion-icon>
                {% endif %}
            {% endfor %}
            <span class="mr-1">{{ comment.rating }}</span>
        </div>

        <div class="">
            <p class="py-4 px-xl-3 mr-xl-4 mr-2">{{ comment.content }}</p>
            <div class="text-left ml-5 my-2">

            {% if request.user == comment.user %}
                <form action="{% url 'shop:remove_comment' comment.pk %}" method="post">
                {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="حذف">
                </form>
            {% endif %}
                {% if request.user.is_authenticated %}
                    <a href="#" class="btn btn-primary reply-comment-btn" id="">پاسخ</a>
                {% else %}
                    <p>برای ثبت نظر ابتدا
                        <a href="{% url 'core:login_view' %}"> وارد شوید</a>
                        </p>
                {% endif %}


            <form action="" method="post" class="d-none reply-comment-form" id="">
                {% csrf_token %}
                    <div class="form-group">
                        {% if request.user.full_name %}
                            <label for="name">نام شما:</label>
                            <input type="text" class="form-control" id="name" placeholder="{{ request.user.full_name }}" aria-describedby="emailHelp" disabled>
                        {% else %}
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="{{ request.user.email }}" aria-describedby="emailHelp" disabled>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.rating.errors }}
                        <label for="{{ form.rating.id_for_label }}">{{ form.rating.label }}:</label>
                        {{ form.rating }}
                    </div>
                    <div class="form-group">
                        {{ form.content.errors }}
                        <label for="{{ form.content.id_for_label }}">{{ form.content.label }}:</label>
                        {{ form.content }}
                    </div>

                    <div class="form-group">
                        <label for="id_parent_comment"></label>
                        <input type="hidden" name="parent_comment" value="{{ comment.id }}">
                    </div>

                <button type="submit" class="btn btn-primary">ارسال نظر</button>
            </form>
            </div>
        </div>

        <div class="mr-3 border-r-2">
            {% if comment.related_name %}
            {% include 'shop/partial/product_comments_nested.html' %}
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}